#globalfullwrapper {
  background-repeat: repeat;
}
#headertopwrapper {
  background-repeat: repeat;
}
#headertopcontainer {
  padding-top   : 5px;
  padding-bottom: 5px;
  color: #808080;
}
#headertopcontainer .text-color:not(.btn) {
  color: #808080;
}
#headertopcontainer .btn-filter {
  color: #808080;
}
#headertopcontainer .btn-filter.active {
  border-color: #808080;
}
#headertopcontainer .heavy {
  color: #585858;
}
#headertopcontainer a:not(.btn) {
  color: #808080;
}
#headertopcontainer a:hover:not(.btn) {
  color: #3498db;
}
#headertopcontainer .hover-color:not(.btn) {
  color: #3498db;
}
#globalheaderwrapper {
  background-color: #fafafa;
  background-repeat: repeat;
}
#globalheaderwrapper a.bg-link-outer:not(.btn) {
  color: #fafafa;
}
#globalheaderwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e6e6e6;
}
#globalheaderwrapper .line {
  border-bottom-color: #e6e6e6;
}
#globalheaderwrapper .line span {
  background-color: #fafafa;
}
#globalheaderwrapper .title-line .block-title span {
  background-color: #fafafa;
}
#globalheadercontainer {
  padding-top   : 18px;
  padding-bottom: 18px;
}
#globalheadercontainer a:not(.btn) {
  color: #808080;
}
#fullwidthslider1wrapper {
  background-repeat: repeat;
}
#globalpageheaderwrapper {
  background-color: #34495e;
  background-repeat: repeat;
}
#globalpageheaderwrapper a.bg-link-outer:not(.btn) {
  color: #34495e;
}
#globalpageheaderwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #3e5871;
}
#globalpageheaderwrapper .line {
  border-bottom-color: #3e5871;
}
#globalpageheaderwrapper .line span {
  background-color: #34495e;
}
#globalpageheaderwrapper .title-line .block-title span {
  background-color: #34495e;
}
#globalpageheadercontainer {
  padding-top   : 40px;
  padding-bottom: 30px;
  color: #ecf0f1;
}
#globalpageheadercontainer .text-color:not(.btn) {
  color: #ecf0f1;
}
#globalpageheadercontainer .btn-filter {
  color: #ecf0f1;
}
#globalpageheadercontainer .btn-filter.active {
  border-color: #ecf0f1;
}
#globalpageheadercontainer .heavy {
  color: #556e74;
}
#globalpageheadercontainer a:not(.btn) {
  color: #d1d1d1;
}
#globalpageheadercontainer a:hover:not(.btn) {
  color: #17e3b2;
}
#globalpageheadercontainer .hover-color:not(.btn) {
  color: #17e3b2;
}
#mapwrapper {
  background-repeat: repeat;
}
#promogroup1wrapper {
  background-attachment: fixed;
}
#promogroup1container {
  padding-top   : 45px;
  padding-bottom: 45px;
  color: #555;
}
#promogroup1container .text-color:not(.btn) {
  color: #555;
}
#promogroup1container .btn-filter {
  color: #555;
}
#promogroup1container .btn-filter.active {
  border-color: #555;
}
#promogroup1container .heavy {
  color: #b3b3b3;
}
#promogroup2wrapper {
  background-repeat: repeat;
}
#promogroup2container {
  padding-top   : 45px;
  padding-bottom: 45px;
}
#postscripttopwrapper {
  background-image: url("/sites/default/files/workstations-w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#mainwrapper {
  background-color: #f8f9fa;
  background-repeat: repeat;
}
#mainwrapper a.bg-link-outer:not(.btn) {
  color: #f8f9fa;
}
#mainwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e1e5e9;
}
#mainwrapper .line {
  border-bottom-color: #e1e5e9;
}
#mainwrapper .line span {
  background-color: #f8f9fa;
}
#mainwrapper .title-line .block-title span {
  background-color: #f8f9fa;
}
#maincontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #999;
}
#maincontainer .text-color:not(.btn) {
  color: #999;
}
#maincontainer .btn-filter {
  color: #999;
}
#maincontainer .btn-filter.active {
  border-color: #999;
}
#maincontainer .heavy {
  color: #606060;
}
#maincontainer a:not(.btn) {
  color: #34495e;
}
#maincontainer a:hover:not(.btn) {
  color: #3498db;
}
#maincontainer .hover-color:not(.btn) {
  color: #3498db;
}
#mainbottomwrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#mainbottomwrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#mainbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#mainbottomwrapper .line {
  border-bottom-color: #ebebeb;
}
#mainbottomwrapper .line span {
  background-color: #fff;
}
#mainbottomwrapper .title-line .block-title span {
  background-color: #fff;
}
#mainbottomcontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.32);
  color: #999;
}
#mainbottomcontainer *:not(.btn) {
  border-color: rgba(235, 235, 235, 0.32);
}
#mainbottomcontainer a.bg-link-inner:not(.btn) {
  color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .line {
  border-bottom-color: rgba(235, 235, 235, 0.32);
}
#mainbottomcontainer .line span {
  background-color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .inner-bg {
  background-color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .text-color:not(.btn) {
  color: #999;
}
#mainbottomcontainer .btn-filter {
  color: #999;
}
#mainbottomcontainer .btn-filter.active {
  border-color: #999;
}
#mainbottomcontainer .heavy {
  color: #606060;
}
#mainbottomcontainer .dark {
  color: #606060;
}
#mainbottomcontainer .dark-color {
  color: #606060;
}
#mainbottomcontainer .dark-bg {
  background-color: #606060;
}
#mainbottomcontainer .dark-border {
  border-color: #606060;
}
#mainbottomcontainer .light {
  color: #bfbfbf;
}
#mainbottomcontainer .light-color {
  color: #bfbfbf;
}
#mainbottomcontainer .light-bg {
  background-color: #bfbfbf;
}
#mainbottomcontainer .light-border {
  border-color: #bfbfbf;
}
#mainbottomcontainer .light-color-block-title .block-title {
  color: #bfbfbf;
}
#uigroup1wrapper {
  background-repeat: repeat;
}
#uigroup1container {
  color: #999;
}
#uigroup1container .text-color:not(.btn) {
  color: #999;
}
#uigroup1container .btn-filter {
  color: #999;
}
#uigroup1container .btn-filter.active {
  border-color: #999;
}
#uigroup1container .heavy {
  color: #606060;
}
#uigroup2wrapper {
  background-color: #000;
  background-image: url("/sites/default/files/background-mobile.jpg");
  background-attachment: fixed;
}
#uigroup2wrapper a.bg-link-outer:not(.btn) {
  color: #000;
}
#uigroup2wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #141414;
}
#uigroup2wrapper .line {
  border-bottom-color: #141414;
}
#uigroup2wrapper .line span {
  background-color: #000;
}
#uigroup2wrapper .title-line .block-title span {
  background-color: #000;
}
#uigroup2container {
  padding-top   : 200px;
  padding-bottom: 200px;
  color: #adadad;
}
#uigroup2container .text-color:not(.btn) {
  color: #adadad;
}
#uigroup2container .btn-filter {
  color: #adadad;
}
#uigroup2container .btn-filter.active {
  border-color: #adadad;
}
#uigroup2container .heavy {
  color: #646464;
}
#uigroup2container .light {
  color: #fefefe;
}
#uigroup2container .light-color {
  color: #fefefe;
}
#uigroup2container .light-bg {
  background-color: #fefefe;
}
#uigroup2container .light-border {
  border-color: #fefefe;
}
#uigroup2container .light-color-block-title .block-title {
  color: #fefefe;
}
#bottomfluidwrapper {
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#bottomfluidwrapper a.bg-link-outer:not(.btn) {
  color: #f8f9fa;
}
#bottomfluidwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e1e5e9;
}
#bottomfluidwrapper .line {
  border-bottom-color: #e1e5e9;
}
#bottomfluidwrapper .line span {
  background-color: #f8f9fa;
}
#bottomfluidwrapper .title-line .block-title span {
  background-color: #f8f9fa;
}
#bottomfluidcontainer {
  color: #999;
}
#bottomfluidcontainer .text-color:not(.btn) {
  color: #999;
}
#bottomfluidcontainer .btn-filter {
  color: #999;
}
#bottomfluidcontainer .btn-filter.active {
  border-color: #999;
}
#bottomfluidcontainer .heavy {
  color: #606060;
}
#bottomgroup1wrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#bottomgroup1wrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#bottomgroup1wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#bottomgroup1wrapper .line {
  border-bottom-color: #ebebeb;
}
#bottomgroup1wrapper .line span {
  background-color: #fff;
}
#bottomgroup1wrapper .title-line .block-title span {
  background-color: #fff;
}
#bottomgroup1container {
  padding-top   : 45px;
  padding-bottom: 45px;
  color: #999;
}
#bottomgroup1container .text-color:not(.btn) {
  color: #999;
}
#bottomgroup1container .btn-filter {
  color: #999;
}
#bottomgroup1container .btn-filter.active {
  border-color: #999;
}
#bottomgroup1container .heavy {
  color: #606060;
}
#bottomgroup2wrapper {
  background-repeat: repeat;
}
#bottomgroup3wrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#bottomgroup3wrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#bottomgroup3wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#bottomgroup3wrapper .line {
  border-bottom-color: #ebebeb;
}
#bottomgroup3wrapper .line span {
  background-color: #fff;
}
#bottomgroup3wrapper .title-line .block-title span {
  background-color: #fff;
}
#bottomgroup3container {
  padding-top   : 55px;
  padding-bottom: 55px;
  color: #999;
}
#bottomgroup3container .text-color:not(.btn) {
  color: #999;
}
#bottomgroup3container .btn-filter {
  color: #999;
}
#bottomgroup3container .btn-filter.active {
  border-color: #999;
}
#bottomgroup3container .heavy {
  color: #606060;
}
#bottomgroup3container a:not(.btn) {
  color: #000;
}
#bottomgroup3container a:hover:not(.btn) {
  color: #3498db;
}
#bottomgroup3container .hover-color:not(.btn) {
  color: #3498db;
}
#bottomgroup3container .dark {
  color: #606060;
}
#bottomgroup3container .dark-color {
  color: #606060;
}
#bottomgroup3container .dark-bg {
  background-color: #606060;
}
#bottomgroup3container .dark-border {
  border-color: #606060;
}
#bottomgroup3container .light {
  color: #d4d4d4;
}
#bottomgroup3container .light-color {
  color: #d4d4d4;
}
#bottomgroup3container .light-bg {
  background-color: #d4d4d4;
}
#bottomgroup3container .light-border {
  border-color: #d4d4d4;
}
#bottomgroup3container .light-color-block-title .block-title {
  color: #d4d4d4;
}
#postscriptbottomwrapper {
  background-color: #f8f9fa;
  background-image: url("/sites/default/files/infinite-white-studio-005.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#postscriptbottomwrapper a.bg-link-outer:not(.btn) {
  color: #f8f9fa;
}
#postscriptbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e1e5e9;
}
#postscriptbottomwrapper .line {
  border-bottom-color: #e1e5e9;
}
#postscriptbottomwrapper .line span {
  background-color: #f8f9fa;
}
#postscriptbottomwrapper .title-line .block-title span {
  background-color: #f8f9fa;
}
#postscriptbottomcontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #999;
}
#postscriptbottomcontainer .text-color:not(.btn) {
  color: #999;
}
#postscriptbottomcontainer .btn-filter {
  color: #999;
}
#postscriptbottomcontainer .btn-filter.active {
  border-color: #999;
}
#postscriptbottomcontainer .heavy {
  color: #606060;
}
#postscriptbottomcontainer a:not(.btn) {
  color: #34495e;
}
#postscriptbottomcontainer a:hover:not(.btn) {
  color: #3498db;
}
#postscriptbottomcontainer .hover-color:not(.btn) {
  color: #3498db;
}
#postscriptbottomcontainer .dark {
  color: #8f8f8f;
}
#postscriptbottomcontainer .dark-color {
  color: #8f8f8f;
}
#postscriptbottomcontainer .dark-bg {
  background-color: #8f8f8f;
}
#postscriptbottomcontainer .dark-border {
  border-color: #8f8f8f;
}
#postscriptbottomcontainer .light {
  color: #fff;
}
#postscriptbottomcontainer .light-color {
  color: #fff;
}
#postscriptbottomcontainer .light-bg {
  background-color: #fff;
}
#postscriptbottomcontainer .light-border {
  border-color: #fff;
}
#postscriptbottomcontainer .light-color-block-title .block-title {
  color: #fff;
}
#globalfootertopwrapper {
  background-color: #e2e6e8;
  background-repeat: repeat;
}
#globalfootertopwrapper a.bg-link-outer:not(.btn) {
  color: #e2e6e8;
}
#globalfootertopwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ced4d8;
}
#globalfootertopwrapper .line {
  border-bottom-color: #ced4d8;
}
#globalfootertopwrapper .line span {
  background-color: #e2e6e8;
}
#globalfootertopwrapper .title-line .block-title span {
  background-color: #e2e6e8;
}
#globalfootertopcontainer {
  padding-top   : 40px;
  padding-bottom: 40px;
}
#globalfooterwrapper {
  background-color: #34495e;
  background-repeat: repeat;
}
#globalfooterwrapper a.bg-link-outer:not(.btn) {
  color: #34495e;
}
#globalfooterwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #3e5871;
}
#globalfooterwrapper .line {
  border-bottom-color: #3e5871;
}
#globalfooterwrapper .line span {
  background-color: #34495e;
}
#globalfooterwrapper .title-line .block-title span {
  background-color: #34495e;
}
#globalfootercontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #ecf0f1;
}
#globalfootercontainer .text-color:not(.btn) {
  color: #ecf0f1;
}
#globalfootercontainer .btn-filter {
  color: #ecf0f1;
}
#globalfootercontainer .btn-filter.active {
  border-color: #ecf0f1;
}
#globalfootercontainer .heavy {
  color: #556e74;
}
#globalfootercontainer a:not(.btn) {
  color: #95a5a6;
}
#globalfootercontainer a:hover:not(.btn) {
  color: #95a5a6;
}
#globalfootercontainer .hover-color:not(.btn) {
  color: #95a5a6;
}
#globalfooterbottomwrapper {
  background-color: #2c3e50;
  background-repeat: repeat;
}
#globalfooterbottomwrapper a.bg-link-outer:not(.btn) {
  color: #2c3e50;
}
#globalfooterbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #374d64;
}
#globalfooterbottomwrapper .line {
  border-bottom-color: #374d64;
}
#globalfooterbottomwrapper .line span {
  background-color: #2c3e50;
}
#globalfooterbottomwrapper .title-line .block-title span {
  background-color: #2c3e50;
}
#globalfooterbottomcontainer {
  padding-top   : 20px;
  padding-bottom: 20px;
  color: #ecf0f1;
}
#globalfooterbottomcontainer .text-color:not(.btn) {
  color: #ecf0f1;
}
#globalfooterbottomcontainer .btn-filter {
  color: #ecf0f1;
}
#globalfooterbottomcontainer .btn-filter.active {
  border-color: #ecf0f1;
}
#globalfooterbottomcontainer .heavy {
  color: #556e74;
}
#globalfooterbottomcontainer a:not(.btn) {
  color: #95a5a6;
}
#globalfooterbottomcontainer a:hover:not(.btn) {
  color: #95a5a6;
}
#globalfooterbottomcontainer .hover-color:not(.btn) {
  color: #95a5a6;
}
#falsewrapper {
  background-repeat: repeat;
}
