/*
Array list
==start==
white-shadow|White shadow 1
white-shadow2|White shadow 2
black-shadow|Black shadow 1
black-shadow2|Black shadow 2
text-white-shadow|Text white shadow 1
text-black-shadow|Text black shadow 1
text-white-shadow2|Text white shadow 2
text-black-shadow2|Text black shadow 2
button-red|Button Red
button-pink|Button Pink
button-purple|Button Purple
button-blue|Button Blue
button-green|Button Green
button-yellow|Button Yellow
button-orage|Button Orange
button-gray|Button Gray
button-black|Button Black
==end==
*/
/*
style
*/
.md-slide-wrap {margin: 0; font-size: 12px; line-height: 1.5em; word-wrap: normal}
.md-slidewrap {font-size: 12px; line-height: 1.5em; word-wrap: normal;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==")} /* for amin editing */
.md-objects .md-object,
.md-objects .md-object a,
.slider-item > div {
	margin: 0;
	padding: 0;
	line-height:1em;
	box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
.md-loading-bg {background: #fff; opacity: 0.6;}
.md-loading-state {background: #fff}
.md-bullet {
	background: #ccc;
}
.md-bullet a {background: #fff}
.md-bullet span,
.md-bullet img {border: 3px solid #fff; top:0; left:0;
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.md-bullet .md-thumb-arrow {border-top-color: #fff;}

.white-shadow {
	-moz-box-shadow:4px 4px 4px rgba(255,255,255,0.25);
	-webkit-box-shadow:4px 4px 4px rgba(255,255,255,0.25);
	box-shadow:4px 4px 4px rgba(255,255,255,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40ffffff,Positive=true);
}
.black-shadow {
	-moz-box-shadow:4px 4px 4px rgba(0,0,0,0.25);
	-webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.25);
	box-shadow:4px 4px 4px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40000000,Positive=true);
}
.white-shadow2 {
	-moz-box-shadow:0px 0px 4px rgba(255,255,255,0.35);
	-webkit-box-shadow:0px 0px 4px rgba(255,255,255,0.35);
	box-shadow:0px 0px 4px rgba(255,255,255,0.35);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59ffffff,Positive=true);
}
.black-shadow2 {
	-moz-box-shadow:0px 0px 4px rgba(0,0,0,0.35);
	-webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.35);
	box-shadow:0px 0px 4px rgba(0,0,0,0.35);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59000000,Positive=true);
}
.text-white-shadow a,
.text-white-shadow div,
.md-object.text-white-shadow {
	text-shadow:0px 1px 0px rgba(255,255,255,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true);
}
.text-black-shadow a,
.text-black-shadow div,
.md-object.text-black-shadow {
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true);
}

.text-white-shadow2 a
.text-white-shadow2 div,
.md-object.text-white-shadow2 {
	text-shadow:0px -1px 0px rgba(255,255,255,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80ffffff,Positive=true);
}

.text-black-shadow2 a,
.text-black-shadow2 div,
.md-object.text-black-shadow2 {
	text-shadow:0px -1px 0px rgba(0,0,0,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80000000,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80000000,Positive=true);
}

/**
 * [color description]
 * @type {[type]}
 *
 * button-red|Button Red
 * button-pink|Button Pink
 * button-purple|Button Purple
 * button-blue|Button Blue
 * button-green|Button Green
 * button-yellow|Button Yellow
 * button-orage|Button Orange
 * button-gray|Button Gray
 * button-black|Button Black
 *
 */
.button-red         { background-color: red !important; }
.button-red a       { background-color: red !important;; }
.button-red a:hover { background-color: #cf000f !important;; }

.button-pink         { background-color: #DB0A5B !important; }
.button-pink a       { background-color: #DB0A5B !important; }
.button-pink a:hover { background-color: #ab0847 !important; }

.button-purple         { background-color: #8E44AD !important; }
.button-purple a       { background-color: #8E44AD !important; }
.button-purple a:hover { background-color: #663399 !important; }

.button-blue         { background-color: #3498db !important; }
.button-blue a       { background-color: #3498db !important; }
.button-blue a:hover { background-color: #2980b9 !important; }

.button-green         { background-color: #2ecc71 !important; }
.button-green a       { background-color: #2ecc71 !important; }
.button-green a:hover { background-color: #27ae60 !important; }

.button-yellow         { background-color: #F4D03F !important; }
.button-yellow a       { background-color: #F4D03F !important; }
.button-yellow a:hover { background-color: #deb40d !important; }

.button-orage         { background-color: #F89406 !important; }
.button-orage a       { background-color: #F89406 !important; }
.button-orage a:hover { background-color: #E87E04 !important; }

.button-gray         { background-color: #95a5a6 !important; }
.button-gray a       { background-color: #95a5a6 !important; }
.button-gray a:hover { background-color: #7f8c8d !important; }

.button-black         { background-color: #2A363B !important; }
.button-black a       { background-color: #2A363B !important; }
.button-black a:hover { background-color: #000 !important; }


/* touch device */
.md-touchdevice .md-arrow-left,
.md-touchdevice .md-arrow-right,
.md-touchdevice .md-play,
.md-touchdevice .md-pause {top: auto; left: auto; margin-top: 0; bottom: 10px; right: 10px; display: none}
.md-touchdevice .md-arrow-left {right: 80px}
.md-touchdevice .md-play,
.md-touchdevice .md-pause {right: 45px}

/* thumbnail */
.md-thumb img
.md-thumb span {padding: 4px; background: #fff; border:1px solid #E1E1E1}
.md-thumb a:hover img,
.md-thumb a:hover span {border-color: #ccc}
.md-thumb a.md-current span,
.md-thumb a.md-current img {border-color: #bbb}

@media screen and (max-width: 760px) {
	.md-bullet,
	.md-bullet a {height: 9px; width: 9px;}
}
@media screen and (max-width: 600px) {
	.md-bullet,
	.md-bullet a {height: 7px; width: 7px;}
}
