.region-header-top-left {
	padding-top: 5px;
}

nav .tb-menu {
	margin-top: 55px;
}

#globalfooter ul.nav li a:link,
#globalfooter ul.nav li a:visited,
#globalfooter ul.nav li a:hover,
#globalfooter ul.nav li a:active {
	background-color: transparent;
	padding: 0;
}

#globalfooter ul.nav li a:hover {
	color: #fff;
}